dataclasses-json~=0.5.7
gruut[de,es,fr,it,nl,ru,sv,sw]~=2.3.3
numpy>=1.20.0
onnxruntime>=1.6.0,<2.0
phonemes2ids~=1.2.2
python-pidfile~=3.0.0
quart~=0.17.0
quart-cors~=0.5.0
swagger-ui-py==21.12.8
torch==1.11.0
tqdm==4.64.0